:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-primary-blue: #1e3161;
  --clr-secondary-blue: #1658a3;
  --caret-light: #1658a3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: #777;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  position: relative;
}
